# Synopsys/VCS simulation outputs
simv
simv.daidir/
csrc/
ucli.key
*.log
*.vpd
*.vcd
*.fsdb
*.fsdb.*
*.kdb
verdiLog/
novas.*
 novas.*
DVEfiles/
.vcs/

# Build/sim folders
sim/*.log
sim/*.fsdb
sim/*.vpd
sim/simv
sim/simv_*
sim/csrc/
sim/simv.daidir/
sim/*.daidir/

# Editor/OS
.vscode/
.DS_Store
*~
